*{
    margin:0%;
    padding: 0%;
}

@font-face {
    font-family: 'Quicksand-Bold';
    src: url(../assets/Quicksand-Bold.ttf);
}
@font-face {
    font-family: 'Quicksand-Medium';
    src: url(../assets/Quicksand-Medium.ttf);
}
@font-face {
    font-family: 'PTSans-Bold';
    src: url(../assets/PTSans-Bold.ttf);
}
@font-face {
    font-family: 'PTSans-Regular';
    src: url(../assets/PTSans-Regular.ttf);
}

@font-face {
    font-family: 'BarlowCondensed-Bold';
    src: url(../assets/BarlowCondensed-Bold.ttf);
}

@font-face {
    font-family: 'BarlowCondensed-SemiBold';
    src: url(../assets/BarlowCondensed-SemiBold.ttf);
}

@font-face {
    font-family: 'BarlowCondensed-Medium';
    src: url(../assets/BarlowCondensed-Medium.ttf);
}





/*Fondo PAGINAS*/
#fondo2 {
    background-color: #f8f8f8;
}


/*Cabecera de todo el sitio*/
.header {
    background: linear-gradient(rgba(255, 255, 255, 0.986), rgb(63, 153, 206));
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.navbar-link{
    text-decoration: none;
    color: whitesmoke;
}
.logo{
    max-width: 70px;
    height: 70px;
    padding: 0px 40px;
    line-height: 80px;
    animation-name: rotar_logo;
    animation-duration: 5s;
    animation-delay: 3s;
}
@keyframes rotar_logo {
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(180deg);
    }
    100%{
        transform: rotateY(180);
    }
}
.instagram{
    padding-top: 6px;
}
.menuhamburguesa{
    display: none;
    font-size: 30px;
    cursor: pointer;
    line-height: 60px;
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item {
    font-family: 'BarlowCondensed-Bold', sans-serif;
    font-size: 20px;
    margin: 0 10px;
    line-height: 80px;
    width: max-content;
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}
.nav-menu-link:hover{
    background-color: rgb(26,101,143);
    transition: 0.5s;
}


.home {
    height: 70vh;
    background-image: url(../img/ilustracion-3d-render-columna-vertebral_.png);
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
}
.home .contenido{
    grid-column: 2/8;
    grid-row: 3/8;
}
.titulohome {
    font-family: 'PTSans-Bold', sans-serif;
    color: rgb(26,101,143);
    text-shadow: rgb(79, 117, 139) 0.1em 0.1em 0.2em;
    font-size: 90px;
    text-align: center;

}
.descripcionhome {
    font-family: 'PTSans-Regular', sans-serif;
    color: rgb(63, 153, 206);
    font-size: 30px;
    text-align: center;
}


/*Titulos de todas las paginas menos home*/
.titulo { 
    font-family: 'BarlowCondensed-SemiBold', sans-serif;
    color:rgb(41, 39, 128);
    font-size: 30px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}


/*Pagina Nosotros*/
.profesionales{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-row-gap: 10px ;
}
.profesionales .caja1 {
    grid-column: 2/5;
    grid-row: 1/3;
    font-family: 'BarlowCondensed-Medium', sans-serif;
    color: rgb(57, 81, 133);
    font-size: 2rem;
    border-radius: 10px;
    border: solid 5px;
    text-align: center;
}

.profesionales .caja2{
    grid-column: 2/5;
    grid-row: 3/5;
    font-family: 'BarlowCondensed-Medium', sans-serif;
    color: rgb(57, 81, 133);
    font-size: 2rem;
    border-radius: 10px;
    border: solid 5px;
    text-align: center;
    padding: 5px;
}

.instalaciones{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 250px;
    padding: 20px;
    grid-gap: 10px;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .2s;
}

.img:hover{
    transform: scale(1.5)
}


/*Pagina de Tratamientos*/
.tratamientos1 {
    max-width: 500px;
    padding: 25px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 200px;
    background-color: rgb(251,203,202);
    transition-property: backgraund-color;
    transition-duration: 3s;
}
.tratamientos1:hover{
background-color: rgb(248, 137, 115);
}
.tratamientos2 {
    max-width: 500px;
    margin: 25px;
    padding: 25px;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 600px;
    margin-right: 5px;
    background-color: rgb(199,236,206);
    transition-property: backgraund-color;
    transition-duration: 3s;
}
.tratamientos2:hover{
    background-color:rgb(113, 236, 135) ;
    }
.tratamientos1__titulo {
    font-family: 'BarlowCondensed-Medium', sans-serif;
    color:rgb(70, 68, 68);
    font-size: 2rem;
}
.tratamientos2__titulo {
    font-family: 'BarlowCondensed-Medium', sans-serif;
    color:rgb(70, 68, 68);;
    font-size: 2rem;
}
.tratamientos1__descripcion {
    font-family: 'PTSans-Regular', sans-serif;
    color:rgb(70, 68, 68);;
    font-size: 1rem;
    line-height: 40px;
}
.tratamientos2__descripcion {
    font-family: 'PTSans-Regular', sans-serif;
    color:rgb(70, 68, 68); 
    font-size: 1rem;
    line-height: 40px;
}


/*Pagina Obras Sociales*/
.lista {
    font-family: 'Quicksand-Medium', sans-serif;
    color:rgb(44, 44, 44);
    font-size: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.lista td ul {
    padding: 25px 25px;
    list-style-type: none;
}


/*Pagina Ubicacion y Contacto */

#ubicont{
    color: rgb(26,101,143);
    font-family: 'Quicksand-Bold', sans-serif;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(2,1fr);
    padding: 10px;
    grid-gap: 10px;
    justify-items: center;

}
.mapa{
    grid-column: 1/2;
    grid-row: 1/2;

}
.telefono{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
}

.horario{
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: center;
}

.ubihijo1{
    grid-column: 1/2;
    grid-row: 2/3;
}

.ubihijo2{
    grid-column: 2/3;
    grid-row: 2/3;
}
.ubihijo3{
    grid-column: 3/4;
    grid-row: 2/3;
}





/*Pie de pagina de todo el sitio*/
.footer {
    background-color: rgb(88, 99, 117);
    height: 170px;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0; 
    width: 100%;
}
.navpie {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}
.nav-link-pie{
    text-decoration: none;
    color: rgb(24, 21, 21);
}
.nav-menu-pie {
    display: flex;
    list-style: none;
}
.nav-menu-item-pie{
    font-family: 'BarlowCondensed-Bold', sans-serif;
    font-size: 20px;
    margin: 0 10px;
    line-height: 80px;
    width: max-content;
    text-decoration: none;
} 
.footer-datos{
    color:white;
    font-family: 'Quicksand-Medium', sans-serif;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
}



