@import "variables";

/*Pagina Obras Sociales*/
.lista {
    font-family: $font-lista, sans-serif;
    color:rgb(44, 44, 44);
    font-size: 20px;
    margin: auto;
    display: flex;
    justify-content: center;

    td ul{
        padding: 25px 25px;
        list-style-type:none;
    }
}
