$tamano-titulo: 30px;
$color-caja: rgb(57, 81, 133);
$color-tratamientos: rgb(70, 68, 68);
$font-titulohome: 'PTSans-Bold';
$font-descripcionhome: 'PTSans-Regular';
$font-nav-item:'BarlowCondensed-Bold';
$font-titulos: 'BarlowCondensed-SemiBold';
$font-caja: 'BarlowCondensed-Medium';
$font-lista: 'Quicksand-Medium';
$font-ubic: 'Quicksand-Bold';


@font-face {
    font-family: 'Quicksand-Bold';
    src: url(../assets/Quicksand-Bold.ttf);
}

@font-face {
    font-family: 'Quicksand-Medium';
    src: url(../assets/Quicksand-Medium.ttf);
}
@font-face {
    font-family: 'PTSans-Bold';
    src: url(../assets/PTSans-Bold.ttf);
}
@font-face {
    font-family: 'PTSans-Regular';
    src: url(../assets/PTSans-Regular.ttf);
}
@font-face {
    font-family: 'BarlowCondensed-Bold';
    src: url(../assets/BarlowCondensed-Bold.ttf);
}
@font-face {
    font-family: 'BarlowCondensed-SemiBold';
    src: url(../assets/BarlowCondensed-SemiBold.ttf);
}
@font-face {
    font-family: 'BarlowCondensed-Medium';
    src: url(../assets/BarlowCondensed-Medium.ttf);
}