
@import "media-query";

@import "variables";

@import "home";

@import "nosotros";

@import "obrassociales";

@import "tratamientos";

@import "ubicacionycontacto";

@import "piedepagina";

@import "navbarheader";

*{
    margin:0%;
    padding: 0%;
}


/*Titulos de todas las paginas menos home*/
.titulo { 
    font-family: $font-titulos, sans-serif;
    color:rgb(41, 39, 128);
    font-size: $tamano-titulo;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
